{% extends 'blog/base.html' %}

{% load liked_extras %}
{% load static %}
	
	
{% block content %}
	<div class="slider-main h-500x h-sm-auto pos-relative pt-95 pb-25">
		<div class="img-bg bg-1 bg-layer-4" style="background: url('/static/images/about.jpg') no-repeat center; background-size: cover;"></div>
		<div class="container-fluid h-100 mt-xs-50">
			<div class="dplay-tbl">
				<div class="dplay-tbl-cell color-white text-center">
				
					<h1 class="ptb-50"><b>About Us</b></h1>
					
				</div><!-- dplay-tbl-cell -->
			</div><!-- dplay-tbl -->
		</div><!-- container -->
    </div><!-- slider-main -->

	<section class="bg-1-white ptb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
					<div class="text-center">
						<h2 class="mb-30 mt-20 clearfix"><b>About CollegeBlog</b></h2><hr>
						<p>A webiste for Crazy Lazy people</p>
					</div>
						
					

					<div class="mt-50 mb-20">
						<h4 class="mb-30 mt-20 clearfix"><b>FAQ's</b></h4>
						<div class="row">
							
							{% for Post in How_Posts %}
								<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
									<div class="card h-100 min-h-350x">
										<div class="bg-white h-100 zoom">
										
											<!-- SETTING IMAGE WITH bg-10 -->
											<div class="h-50" style="background: url('/media/{{Post.post_image}}') no-repeat center; background-size: cover;"></div>
											
											<div class="plr-25 ptb-15 h-50">
												<div class="dplay-tbl">
													<div class="dplay-tbl-cell">
													
														<h5 class="color-ash"><b>{{Post.category}}</b></h5>
														<h4 class="mtb-10">
															<a href="{% url 'blog:detail' Post.id Post.slug %}"><b>{{Post.title}}</b></a></h4>
															<ul class="list-li-mr-10 color-black">										
																<li style="float: right;"><a href="{% url 'blog:detail' Post.id Post.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Post|Comment_count}}</a></li>
															</ul>	
													</div><!-- dplay-tbl-cell -->
												</div><!-- dplay-tbl -->
											</div><!-- plr-25 ptb-15 -->
										</div><!-- hot-news -->
									</div><!-- card -->
								</div><!-- col-lg-4 col-md-6 -->
							{% endfor %}
						</div><!-- row-->	
					</div><!-- mt-50 mb-20-->	
				</div>
				
				{% include 'blog/side_bar.html' %}
			</div>
		</div>
	</section>



   
    
{% endblock %}