{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>College Blog</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link href="{% static 'images/authsystem/icons/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/profile/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/profile/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/profile/flaticon.css' %}"/>
	<!-- <link rel="stylesheet" href="{% static 'css/profile/owl.carousel.css' %}"/> -->
	<link rel="stylesheet" href="{% static 'css/profile/magnific-popup.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/profile/style.css' %}"/>

	{% block styles %}

	{% endblock styles %}

	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<!-- <link href="{% static 'css/bootstrap.min.css.map' %}" rel="stylesheet" type="text/css"> -->
	<link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'fonts/ionicons.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	
</head>
<body>
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<header>
		<a class="logo" href="{% url 'blog:home' %}"><img src="{% static 'images/Blog1.png' %}" alt="Logo" style="margin-left: 35%;"></a>
		
		<a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>	
		<ul class="main-menu" id="main-menu">
			<li><a href="{% url 'blog:home' %}">Home</a></li>
			<li >
				<a href="{% url 'blog:category' id=3 category='Articles' %}">Articles</a>
			</li>
			<li>
				<a href="{% url 'blog:category' id=1 category='Events' %}">Events</a>
			</li>
			<li><a href="{% url 'blog:category' id=2 category='Art' %}">Art ShowCase</a></li>
			<li><a href="{% url 'blog:About' %}">About Us</a></li>
			<li><a href="{% url 'blog:Contact' %}">Contact</a></li>


			{% if user.is_authenticated %}
				<li style="float: right; color:rgb(128, 134, 145)"><a href="{% url 'Profile:profile' user.pk user.username%}">welcome {{user.username | truncatechars:8 }}<i class="ion-ios-person"></i></a></li>
				
				<li style="float:right"><a href="{% url 'accounts:logout' %}">Logout</a></li>

				<!-- <li style="float:right"><a href="{% url 'accounts:logout' %}">Logout</a></li> -->
			{% else %}
			<li style="float:right"><a href="{% url 'accounts:register' %}">Signup</a></li>
			<li style="float:right"><a href="{% url 'accounts:login' %}">Login</a></li>
			{% endif %}
		</ul>
		<div class="clearfix"></div>
		


	</header>


	
 
    {% block content %}


    {% endblock content %}
	
	


	<footer class="bg-191 color-ash pt-50 pb-20 text-left center-sm-text">
		
		<div class="container-fluid">
			<div class="row">
			
				<div class="col-lg-1"></div>
				
				<div class="col-md-4 col-lg-6 mb-30">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
							
								<a href="#"><img src="{% static 'images/Blog1.png' %}"></a>
								<p class="color-ash mt-25"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
								
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
				<div class="col-md-4 col-lg-2 mb-30">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
							
								<ul class="list-a-plr-10">
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-youtube"></i></a></li>
								</ul>
								
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
				<div class="col-md-4 col-lg-2 mb-30 text-left">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
								<form class="form-block form-brdr-b mx-w-400x m-auto">
						
									<input class="color-white ptb-15 center-sm-text" type="text" placeholder=" Your Email">
									<button class="mt-30 btn-brdr-grey color-ash w-100 text-center" type="submit">SUBSCRIBE</button>
								
								</form>
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</footer>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- script for signup popup -->


	<!-- SCIPTS -->
	<script src="{% static 'js/tether.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/swiper.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>


	
    <script src="{% static 'js/profile/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/profile/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/profile/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/profile/magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/profile/circle-progress.min.js' %}"></script>
	<script src="{% static 'js/profile/main.js' %}"></script>

	<!-- Jquery -->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

	<!-- for messages and Reply button -->
	<script>

		$(function(){
			$('a').each(function(){
				if ($(this).prop('href') == window.location.href) {
					$(this).addClass('active'); $(this).parents('li').addClass('active');
				}
			});
		});
		
		$('.reply-btn').click(function(){
			$(this).parent().parent().next().next().next('.replied-comments').fadeToggle()
		});



		$(function(){
			setTimeout(function(){
				$('.alert').slideUp(2000);
			}, 5000);
		});

		$(document).ready(function(event){

			$(document).on('submit', '.Comment-form', function(event){
				event.preventDefault();
				console.log($(this).serialize());
				$.ajax({
					type: 'POST',
					url : $(this).attr('action'),
					data : $(this).serialize(),
					dataType: 'json',
					success: function(response){
						$('.main-comment-section').html(response['form']);
						$('textarea').val('');
						$('.reply-btn').click(function(){
							$(this).parent().parent().next().next().next('.replied-comments').fadeToggle();
						});
					},
					error: function(rs, re){
						console.log(rs, response);
					},
				});
			});


			$(document).on('submit', '.reply-form', function(event){
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url : $(this).attr('action'),
					data : $(this).serialize(),
					dataType: 'json',
					success: function(response){
						$('.main-comment-section').html(response['form']);
						$('.comment-area')=Element.val('')
						console.log($('.comment-area').val(""));
						$('.reply-btn').click(function(){
							$(this).parent().parent().next().next().next('.replied-comments').fadeToggle();
						});
					},
					error: function(rs, re){
						console.log(rs, response);
					},
				});
			});

			$(document).on('click', '#like', function(event){
				event.preventDefault();
				var pk = $(this).attr('value');
				console.log(pk)
				$.ajax({
					type: "POST",
					url: "{% url 'blog:Like' %}",
					data: {'id':pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
					dataType: 'json',
					success: function(response){
						$('.like-section'+pk).html(response['form']);
						console.log($('#like-section').html(response['form']));
					},
					error: function(rs, e){
						console.log(rs.responseText);
					},
				});
			});


			$(document).on('click','.comment-delete-section',function(event){
				event.preventDefault();
				var comment_id = $(this).attr('value');
				console.log($(this).attr('action'));
				$.ajax({
					type:'POST',
					url : $(this).attr('action'),
					data: {'id':comment_id, 'csrfmiddlewaretoken':'{{csrf_token}}'},
					dataType: 'json',
					success : function(response){
						$('.main-comment-section').html(response['form']);
						$('.reply-btn').click(function(){
							$(this).parent().parent().next().next().next('.replied-comments').fadeToggle();
						});
					},
					error : function(rs, e){
						console.log(rs,response);
					},
				});
			});

		});

		


		


	</script>

	
</body>
</html>