{% extends 'blog/base.html' %}
{% load static %}
	
	
{% block content %}
	<div class="slider-main h-500x h-sm-auto pos-relative pt-95 pb-25">
		<div class="img-bg bg-1 bg-layer-4" style="background: url('/static/images/phone.jpg') no-repeat center; background-size: cover;"></div>
		<div class="container-fluid h-100 mt-xs-50">
			<div class="dplay-tbl">
				<div class="dplay-tbl-cell color-white text-center">
				
					<h1 class="ptb-50"><b>Contact Us</b></h1>
					
				</div><!-- dplay-tbl-cell -->
			</div><!-- dplay-tbl -->
		</div><!-- container -->
	</div><!-- slider-main -->
	
	
	{% include 'alerts.html' %}
	
	<section class="bg-1-white ptb-70 ptn-sm-50">
		<div class="container">
			<div class="row">
				<div class="col-xl-2"></div>
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
					<form action="{% url 'blog:Contact' %}" class="form-block form-h-55 form-plr-20 form-bg-white text-center" method="POST" >
						{% csrf_token %}
						<div class="row">
							<div class="col-sm-6 mb-30">
								<input type="text" placeholder="Name" name="sendername">
							</div><!-- col-sm-6-->	
							
							<div class="col-sm-6 mb-30">
								<input type="text" placeholder="Email" name="email">
							</div><!-- col-sm-6-->
							
							<div class="col-sm-12 mb-30">
								<textarea class="ptb-20 min-h-200x" placeholder="Comment" name="message"></textarea>
							</div><!-- col-sm-12-->
							
						</div><!-- row-->

						<button class="btn-b-lg btn-brdr-grey plr-25 color-ash" type="submit"><b>Send Message</b></button>
						
					</form>
				</div><!-- col-sm-6-->	
			</div><!-- row-->	
		</div><!-- container -->
	</section>
	
	
{% endblock %}