{% extends "blog/base.html" %}
{% load static %}
{% load liked_extras %}
{% block content %}	
	<div class="slider-main h-800x h-sm-auto pos-relative pt-95 pb-25">
		<div class="img-bg bg-1 bg-layer-4" style="background: url('/media/{{Top.0.post_image}}') no-repeat center;  background-size: cover;"></div>
		<div class="container-fluid h-100 mt-xs-50">
			<div class="row h-100">
				<div class="col-md-1"></div>
				<div class="col-sm-12 col-md-5 h-100 h-sm-50">
					<div class="dplay-tbl">
						<div class="dplay-tbl-cell color-white mtb-30">
							<div class="mx-w-400x">
								<h5><b>{{Top.0.category}}</b></h5>
								<h1 class="mt-20 mb-30"><b>{{Top.0.title}}</b></h1>
								<h6><a class="plr-20 btn-brdr-grey color-white" href="{% url 'blog:detail' Top.0.id Top.0.slug %}"><b>Continue Reading</b></a></h6>
							</div><!-- mx-w-200x -->
						</div><!-- dplay-tbl-cell -->
					</div><!-- dplay-tbl -->
				</div><!-- col-sm-6 -->
				
				<div class="col-sm-12 col-md-6 h-sm-50 oflow-hidden swiper-area pos-relative">			
	
					<div class="abs-blr pos-sm-static">
						<div class="row pos-relative mt-50 all-scroll">
						
							<div class="swiper-scrollbar resp"></div>
							<div class="col-md-10">
								
								<h5 class="mb-50 color-white"><b>HOT NEWS</b></h5>
								
								<div class="swiper-container oflow-visible" data-slide-effect="slide" data-autoheight="false" 
									data-swiper-speed="500" data-swiper-margin="25" data-swiper-slides-per-view="2"
									data-swiper-breakpoints="true" data-scrollbar="true" data-swiper-loop="true"
									data-swpr-responsive="[1, 2, 1, 2]">
									
									
								
									<div class="swiper-wrapper">
										{% for Hot in Hot_News %}
										<!-- data-swiper-autoplay="1000"   -->
										{% if forloop.counter < 6 %}
											<div class="swiper-slide">
												<div class="bg-white">
													<img src="/media/{{Hot.post_image}}" alt="">
													
													<div class="plr-25 ptb-15">
														<h5 class="color-ash"><b>{{Hot.category}}</b></h5>
														<h4 class="mtb-10">
															<a href="{% url 'blog:detail' Hot.id Hot.slug %}"><b>{{Hot.title}}</b></a></h4>
														<ul class="list-li-mr-10 color-lt-black">

															<div class="like-section{{Hot.id}}">
																{% include 'blog/like.html' with condtion=Hot %}
															</div>
															
															<span></span>
																<li style="float: right;"><a href="{% url 'blog:detail' Hot.id Hot.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Hot|Comment_count}}</a></li>
														</ul>
													</div><!-- hot-news -->
												</div><!-- hot-news -->
											</div><!-- swiper-slide -->	
										{% endif %}
										{% endfor %}
									</div><!-- swiper-wrapper -->
								</div><!-- swiper-container -->
								
							</div><!-- col-sm-6 -->
						</div><!-- all-scroll -->
					</div><!-- row -->
				</div><!-- col-sm-6 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- slider-main -->
	
	
	<section class="bg-1-white ptb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
					<div class="row">
						
						{% for article in Articles %}
						{% if forloop.counter < 7 %}
						<!-- START OF FIRST PARA -->
						<div class="col-md-6 col-lg-6 col-xl-4 mb-30" >
							<div class="card h-100 " >

								<div class="plr-25 ptb-15">
									<h5 class="color-ash"><b>{{article.category}}</b></h5>
									<h4 class="mtb-10"><a href="{% url 'blog:detail' article.id article.slug %}"><b>{{article.title}}</b></a></h4>
									<h6 id="author"><i>-{{article.author}}</i></h6>
									<ul class="list-li-mr-10 color-black">

										<div class="like-section{{article.id}}">
											{% include 'blog/like.html' with condtion=article %}
										</div>
										<li style="float: right;"><a href="{% url 'blog:detail' article.id article.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{article|Comment_count}}</a></li>
										<!-- <li style="float: right;"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
									</ul>	
								</div><!-- hot-news -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
						{% endif %}
						{% endfor %}
						
						
					
					
						<!-- END OF FIRST PARA -->
					</div><!-- row -->
					
					<h4 class="mb-30 mt-20 clearfix"><b>Whats trending</b></h4>
					
					<div class="row">
						
						<!-- START OF SECOND PARA -->
						{% for art in Art %}
						{% if forloop.counter < 7 %}	
						
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
						
							<!-- SETTING IMAGE WITH bg-4 -->
							<div class="card h-100 pos-relative bg-4 bg-layer-4 color-white" style="background: url('/media/{{art.post_image}}'); background-position: center; background-size: cover;">
								<div class="plr-25 ptb-15">
									<h5 class="color-grey"><b>{{art.category}}</b></h5>
									<h4 class="mtb-10"><a href="{% url 'blog:detail' art.id art.slug %}"><b>{{art.title }}</b></a></h4>
									<ul class="list-li-mr-10 color-grey">

										<div class="like-section{{art.id}}">
											{% include 'blog/like.html' with condtion=art %}
										</div>
										<li style="float: right;"><a href="{% url 'blog:detail' art.id art.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{art|Comment_count}}</a></li>
										<!-- <li style="float: right;"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
									</ul>
								</div><!-- hot-news -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->

						{% endif %}
						{% endfor %}
						
						<!-- END OF SECOND PARA -->
						<!-- END OF THIRD PARA -->
					</div><!-- row -->
					
					<h4 class="mb-30 mt-20 clearfix"><b>Most Popular Videos</b></h4>
					
					<div class="row">
						<div class="col-sm-12 mb-30 swiper-area ">
						
							<!-- SETTING IMAGE WITH bg-6 -->
							<div class="bg-6 p-40 bg-layer-4 pos-relative z-1 oflow-hidden pr-0 color-white">
								<div class="mx-w-200x">
									<h5 class="color-grey"><b>ART</b></h5>
									<h2 class="mtb-10"><a href="#">
										<b>As an Alchoholic, Your Company "Parks" are Killing me</b></a></h2>
								</div><!-- mx-w-200x -->
								
								<div class="all-scroll pos-relative mt-50">
									<h5 class="mb-50"><b>HOT NEWS</b></h5>
										
									<div class="swiper-scrollbar"></div>
									
									<div class="swiper-container oflow-visible" data-slide-effect="slide" data-autoheight="false" 
										data-swiper-speed="500" data-swiper-margin="25" data-swiper-slides-per-view="3"
										data-swiper-breakpoints="true" data-scrollbar="true" data-swiper-loop="true"
										data-swpr-responsive="[1, 2, 2, 2]">
										
									
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="pos-relative">
													<a class="abs-center circle-50 bg-tp-5 text-center" href="https://www.youtube.com/results?search_query=django+tutorial">
														<i class="lh-50 font-12 ion-play"></i></a>
													<img src="{% static 'images/trending_2_400X250.jpg' %}" alt="">
												</div><!-- pos-relative -->
											</div><!-- swiper-slide -->
											
											<div class="swiper-slide">
												<div class="pos-relative">
													<a class="abs-center circle-50 bg-tp-5 text-center" href="#">
														<i class="lh-50 font-12 ion-play"></i></a>
													<img src="{% static 'images/trending_3_400X250.jpg' %}" alt="">
												</div><!-- pos-relative -->
											</div><!-- swiper-slide -->
											
											<div class="swiper-slide">
												<div class="pos-relative">
													<a class="abs-center circle-50 bg-tp-5 text-center" href="#">
														<i class="lh-50 font-12 ion-play"></i></a>
													<img src="{% static 'images/latest_articles_8_400x250.jpg' %}" alt="">
												</div><!-- pos-relative -->
											</div><!-- swiper-slide -->
											
											<div class="swiper-slide">
												<div class="pos-relative">
													<a class="abs-center circle-50 bg-tp-5 text-center" href="#">
														<i class="lh-50 font-12 ion-play"></i></a>
													<img src="{% static 'images/latest_articles_3_400x250.jpg' %}" alt="">
												</div><!-- pos-relative -->
											</div><!-- swiper-slide -->
											
										</div><!-- swiper-wrapper -->
									</div><!-- swiper-container -->
										
								</div><!-- swiper-area -->
								
							</div><!-- bg-4 -->
						</div><!-- col-lg-4 col-md-6 -->
					</div><!-- row -->
					
					<h4 class="mb-30 mt-20 clearfix"><b>Most Popular</b></h4>
					
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
							<div class="card h-100 bg-white">
								<div class="plr-25 ptb-15 h-100">
									<div class="dplay-tbl">
										<div class="dplay-tbl-cell">
											<h5 class="color-ash"><b>{{Top.0.category}}</b></h5>
											<h2 class="mtb-10"><a href="{% url 'blog:detail' Top.0.id Top.0.slug %}">
												<b>{{Top.0.title}}</b></a></h2>
											<ul class="list-li-mr-10 color-lt-black">

												<div class="like-section{{Top.0.id}}">
													{% include 'blog/like.html' with condtion=Top.0   %}
												</div>
												
												<li style="float: right;"><a href="{% url 'blog:detail' Top.0.id Top.0.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Top.0|Comment_count}}</a></li>
												
												<!-- <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
											</ul>
										</div><!-- dplay-tbl-cell -->
									</div><!-- dplay-tbl -->
								</div><!-- plr-25 ptb-15 -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->

						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 mb-30">
							<div class="card h-100 h-xs-500x">
								<div class="sided-half sided-xs-half h-100 bg-white">
								
									<!-- SETTING IMAGE WITH bg-9 -->
									<div class="s-left w-50 w-xs-100 h-100 h-xs-50 pos-relative">
										<div class=" abs-tblr" style="background: url('/media/{{Top.6.post_image}}') no-repeat center; background-size: cover;"></div></div>
									
									<div class="s-right w-50 w-xs-100 h-xs-50">
										<div class="plr-25 ptb-25 h-100">
											<div class="dplay-tbl">
												<div class="dplay-tbl-cell">
												
													<h5 class="color-ash"><b>{{Top.1.category}}</b></h5>
													<h2 class="mtb-10"><a href="{% url 'blog:detail' Top.1.id Top.1.slug %}">
														<b>{{Top.1.title}}</b></a></h2>
													<ul class="list-li-mr-10 color-lt-black">

														<div class="like-section{{Top.1.id}}">
														
															{% include 'blog/like.html' with condtion=Top.1   %}
														</div>

														<li style="float: right;"><a href="{% url 'blog:detail' Top.1.id Top.1.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Top.1|Comment_count}}</a></li>

														<!-- <li style="float: right;"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
													</ul>
													
												</div><!-- dplay-tbl-cell -->
											</div><!-- dplay-tbl -->
										</div><!-- plr-25 ptb-25 -->
									</div><!-- s-right -->
								</div><!-- sided-half -->
							</div><!-- card -->
						</div><!-- col-lg-8 col-md-12 -->
						
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
							<div class="card h-100">
							
								<div class="h-50 pb-15">
									<div class="plr-25 h-100 ptb-15 pos-relative bg-layer-4 color-white" style="background: url('/media/{{Top.2.post_image}}') no-repeat center; background-size: cover;">
										<div class="dplay-tbl">
											<div class="dplay-tbl-cell">
											
												<h5 class="color-grey"><b>{{Top.2.category}}</b></h5>
												<h4 class="mtb-10"><a href="{% url 'blog:detail' Top.2.id Top.2.slug %}"><b>{{Top.2.title| truncatechars:25}}</b></a></h4>
												<ul class="list-li-mr-10 color-white">


													<div class="like-section{{Top.2.id}}">
														{% include 'blog/like.html' with condtion=Top.2   %}
													</div>
													<li style="float: right;"><a href="{% url 'blog:detail' Top.2.id Top.2.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Top.2|Comment_count}}</a></li>

													<!-- <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
												</ul>
												
											</div><!-- dplay-tbl-cell -->
										</div><!-- dplay-tbl -->
									</div><!-- plr-25 ptb-15 -->
								</div><!--h-50 bg-white -->
								
								<div class="h-50 pt-15">
									
									<!-- SETTING IMAGE WITH bg-7 -->
									<div class="plr-25 ptb-15 pos-relative h-100 bg-layer-4 color-white" style="background: url('/media/{{Top.3.post_image}}') no-repeat center; background-size: cover;">
										<div class="dplay-tbl">
											<div class="dplay-tbl-cell">
											
												<h5 class="color-grey"><b>{{Top.3.category}}</b></h5>
												<h4 class="mtb-10"><a href="{% url 'blog:detail' Top.3.id Top.3.slug %}"><b>{{Top.3.title| truncatechars:25}}</b></a></h4>
												<ul class="list-li-mr-10 color-white">
													
													<div class="like-section{{Top.3.id}}">
														{% include 'blog/like.html' with condtion=Top.3   %}
													</div>
													<li style="float: right;"><a href="{% url 'blog:detail' Top.3.id Top.3.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Top.3|Comment_count}}</a></li>
													
													<!-- <li style="float: right;"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
												</ul>
												
											</div><!-- dplay-tbl-cell -->
										</div><!-- dplay-tbl -->
									</div><!-- plr-25 ptb-15 -->
								</div><!--h-50 bg-white -->
								
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
						
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
						
							<!-- SETTING IMAGE WITH bg-8 -->
							<div class="card pos-relative h-100  bg-layer-4 color-white" style="background: url('/media/{{Top.4.post_image}}') no-repeat center; background-size: cover;">
								<div class="plr-25 ptb-15 h-100">
									<div class="dplay-tbl">
										<div class="dplay-tbl-cell">
										
											<h5 class="color-grey"><b>{{Top.4.category}}</b></h5>
											<h2 class="mtb-10"><a href="{% url 'blog:detail' Top.4.id Top.4.slug %}">
												<b>{{Top.4.title| truncatechars:40}}</b></a></h2>
											<ul class="list-li-mr-10 color-grey">

												<div class="like-section{{Top.4.id}}">
													{% include 'blog/like.html' with condtion=Top.4   %}
												</div>
												<li style="float: right;"><a href="{% url 'blog:detail' Top.4.id Top.4.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Top.4|Comment_count}}</a></li>

												<!-- <li style="float: right;"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
											</ul>
											
										</div><!-- dplay-tbl-cell -->
									</div><!-- dplay-tbl -->
								</div><!-- plr-25 ptb-15 -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
						
						
						<div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
							<div class="card h-100 min-h-350x">
								<div class="bg-white h-100">
								
									<!-- SETTING IMAGE WITH bg-10 -->
									<div class="h-50 " style="background: url('/media/{{Top.5.post_image}}') no-repeat center; background-size: cover;"></div>
									
									<div class="plr-25 ptb-15 h-50">
										<div class="dplay-tbl">
											<div class="dplay-tbl-cell">
											
												<h5 class="color-ash"><b>{{Top.5.category}}</b></h5>
												<h4 class="mtb-10">
													<a href="{% url 'blog:detail' Top.5.id Top.5.slug %}"><b>{{Top.5.title| truncatechars:25}}</b></a></h4>
												<ul class="list-li-mr-10 color-lt-black">

													<div class="like-section{{Top.5.id}}">
														{% include 'blog/like.html' with condtion=Top.5   %}
													</div>
													<li style="float: right;"><a href="{% url 'blog:detail' Top.5.id Top.5.slug %}#comment"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>{{Top.5|Comment_count}}</a></li>

													<!-- <li style="float: right;"><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li> -->
												</ul>
												
											</div><!-- dplay-tbl-cell -->
										</div><!-- dplay-tbl -->
									</div><!-- plr-25 ptb-15 -->
								</div><!-- hot-news -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
						
						
						<!-- START OF SECOND PARA -->
						
						
						<!-- END OF SECOND PARA -->
					</div><!-- row -->
					
					<h6 class="text-center mt-20"><a class="btn-brdr-grey color-ash plr-30" href="#"><b>LOAD MORE</b></a></h6>
				</div><!-- col-sm-9 -->
				
				{% include 'blog/side_bar.html' %}
			</div><!-- row -->
		</div><!-- container -->
	</section>
	
	

	
{% endblock content %}