{% load static %}
<div class="col-md-12 col-lg-3 bg-2-white ptb-50 pl-30 pl-md-15">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="mx-w-md-400x mlr-md-auto">
            
                <div class="mb-50">
                    <h5 class="mb-30"><b>TOP STORIES</b></h5>
                    {% for Top4 in Top4_side %}
                        <div class="sided-80x mb-20">
                            <div class="s-left img-hover-zoom" style="overflow: hidden;">
                                <img src="/media/{{Top4.post_image}}" alt="Post Image">
                            </div><!-- s-left -->
                            <div class="s-right">
                                <h5 class="pt-5"  style="overflow-x: hidden;width: 100px;"><a href="{% url 'blog:detail' Top4.id Top4.slug %}"><b>{{Top4.title}}</b></a></h5>
                            </div><!-- s-left -->
                        </div><!-- sided-80x -->
                    {% endfor %}

                    
                </div><!-- mb-50 -->
                
                <a class="mb-50 pos-relative dplay-block" href="#">
                    
                    <img src="{% static 'images/sidebar_2_400X600.jpg' %}" alt="add">
                    <div class="abs-tblr z-10 bg-layer-4">
                    
                        <div class="dplay-tbl text-center color-white">
                            <div class="dplay-tbl-cell">
                                <h1 class="mb-10"><b class="mr-15">S</b><b class="ml-15">A</b></h1>
                                <h1 class="mt-10"><b class="mr-15">L</b><b class="ml-15">E</b></h1>
                            </div>
                        </div><!-- dplay-tbl -->
                    </div><!-- abs-tblr -->
                </a><!-- mb-50 -->
                
                <div class="mb-50">
                    <h5 class="mb-30"><b>NEWEST VIDEO</b></h5>
                    
                    {% for Art_video in Art %}
                        {% if Art_video.post_link  %}
                            <div class="sided-80x mb-20">
                                <div class="s-left">
                                    <a class="v-icn" href="{{Art_video.post_link}}"><i class="ion-play"></i></a>
                                    <img src="/media/{{Art_video.post_image}}" alt="Art">
                                </div><!-- s-left -->
                                <div class="s-right">
                                    <h5 class="pt-5"><a href="{% url 'blog:detail' Art_video.id Art_video.slug %}"><b>{{Art_video.title}}</b></a></h5>
                                </div><!-- s-left -->
                            </div><!-- sided-80x -->
                        {% endif %}
                    {% endfor %}
                    
                </div><!-- mb-50 -->
                
                
                
            </div><!-- mx-w-400 -->
        </div><!-- col-sm-9 -->
    </div><!-- row -->
</div><!-- col-sm-3 -->