{% extends 'accounts/base.html' %}

    
{% block content %}

    <div class="jumbotron text-center">


        {% if messages %}
        {% for message in messages %}
            <h2 class="display-3">{{message}}</h2>
        {% endfor %}
        <p class="lead">collegeBlog - Write for having right to information</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Login</a>
        </p>
        {% endif %}
        
        
    </div>

{% endblock %}




  