{% extends 'accounts/base.html' %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post" style="text-align: center;" >
      {% csrf_token %}
      <div id="passwordform">
        {{ form.as_p }}
      </div>
      
      <button type="submit" id="resetpasswdbtn">Change password</button>
    </form>
  {% else %}
    <p style="color: red;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}